#!/usr/bin/make -f
%:
	dh $@ --with autoreconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- --enable-av --disable-tests --enable-daemon

override_dh_gencontrol:
	sed -i "/dependency_libs/ s/'.*'/''/" `find $(CURDIR)/debian -name '*.la'`
	dh_gencontrol
